$primary: #335c67;
$bg: #ffffff;
$card-bg: $bg;
$form-bg: $bg;
$input-bg: $bg;
$nav-tabs-link-active-bg: #e2e2e2;
$font-size-base: .8rem;

body {
  height: 100vh;
  width: 100vw;
  margin: auto;
  background: $bg !important;
}
@import "~bootstrap";

.forms-container {
  height: 100vh;
  width: 25%;
  max-width: 40% !important;
  display: grid;
  justify-items: center;
  align-items: center;
}

.entity-form {
  width: 100%;
  min-width: 270px;
}

.entities-container {
  height: 100vh;
  width: 25%;
  max-width: 40% !important;
  display: grid;
  align-items: center;
  justify-items: center;
}

.list-container {
  float: left;
  display: flex;
  max-width: max-content;
  max-height: max-content;
}

.card-body {
  max-height: max-content;
  background-color: inherit !important;
}

.entity-card {
  border-width: 58px;
  max-height: max-content;
}

.waveform-container:nth-of-type(1) {
  margin-top: 0 !important;
}

.play-button {
  position: absolute;
  top: 50%;
  transform: translate(-175%, -50%);
}

.add-split-button {
  padding-right: .25em;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: grid;
  //justify-items: center;
}

.audio-plot {
  background: #00A000;
}

