$primary: rgb(64, 64, 88);
$bg: #fafcfc;
$card-bg: $bg;
$form-bg: $bg;
$input-bg: $bg;
$nav-tabs-link-active-bg: #e2e2e2;
$font-size-base: .8rem;
:root {
  --primary: $primary;
  --secondary: $secondary;
}
body {
  height: 100vh;
  width: 100vw;
  margin: auto;
  background: $bg !important;
}

@import "~bootstrap";
.forms-container {
  height: 100vh;
  width: 25%;
  max-width: 40% !important;
  display: grid;
  justify-items: center;
  align-items: center;
}

.entity-form {
  width: 512px;
  min-height: 256px;
}

.entities-container {
  height: 100vh;
  width: 25%;
  max-width: 40% !important;
  display: grid;
  /*grid-template-rows: 3fr 3fr 3fr;*/
  align-items: center;
  justify-items: center;
}

.list-container {
  float: left;
  display: flex;
  max-width: max-content;
  max-height: max-content;
}

.card-body {
  max-height: max-content;
  background-color: inherit !important;
}

.entity-card {
  border-width: 58px;
  max-height: max-content;
}

.play-button {
  position: absolute;
  top: 50%;
  transform: translate(-165%, -50%);
}

.add-split-button {
  padding-right: 1em;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  //display: flex;
  //justify-items: center;
}

.audio-plot {
  background: #00A000;
}

